body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style: none;
}
/* header */

.logo {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}

.logo-accent {
  font-family: 'Raleway' sans-serif;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2e2f42;
}

.logo-accenttwo {
  font-family: 'Raleway' sans-serif;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #f4f4fd;
}

.navigation-line {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.navigation-line:hover,
.navigation-line:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address-block {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-block:hover,
.address-block:focus {
  color: #404bbf;
}

/* section 1 */
.baner {
  background-color: #2e2f42;
}

.headline-one-baner {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.button-service {
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.button-service:hover,
.button-service:focus {
  background-color: #404bbf;
}

/* section 2 */

.h-two {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.h-three {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.paragraf {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* section 3  */
.our-team-section {
  background-color: #f4f4fd;
}

.list-our-team {
  background-color: #ffffff;
}

/* foother */
.foter-class {
  background-color: #2e2f42;
}

.p-footer {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
